@model BackerOptionModel
@* 
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="jumbotron">
    <h1>Backer Profile!</h1>
    <div class="list-group-horizontal">
        <span class="list-group" id="sizing-addon1">FirstName</span>
        <p class="list-group-item list-group-item-action list-group-item-info">@Model.Backer.FirstName</p>
    </div>
    <div class="list-group-horizontal">
        <span class="list-group" id="sizing-addon1">LastName</span>
        <p class="list-group-item list-group-item-action list-group-item-info">@Model.Backer.LastName</p>
    </div>
    <div class="list-group-horizontal">
        <span class="list-group" id="sizing-addon1">Email</span>
        <p class="list-group-item list-group-item-action list-group-item-info">@Model.Backer.Email</p>
    </div>
    <p><a class="btn btn-secondary btn-lg" href="~/home/UpdateBacker/@Model.Backer.Id" role="button">Update Info</a></p>
</div>




@*<table class="table table-sm table-striped table-bordered" id="ProjectCreatorTable" >
    <caption>Personal details</caption>
    <tr>
        <th>FirstName</th>
        <th>LastName</th>
        <th>Email</th>
    </tr>
    @{
            <tr>
                <td>@Model.Backer.FirstName</td>
                <td>@Model.Backer.LastName</td>
                <td>@Model.Backer.Email</td>
                <td> <a href="~/home/UpdateBacker/@Model.Backer.Id"><img src="~/images/update.png" width="25" /></a></td>
            </tr>
    }
</table>*@