@model ProjectModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>My Dashboard</h1>
To add a new project press <a href="~/home/addproject">here</a>
<table class="table table-bordered table-hover table-sm table-info" >
    <thead class="thead-light">
        <tr > 
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Budget Ratio</th>
            <th scope="col">Update</th>
            <th scope="col">Add Media</th>
            <th scope="col">Add Reward</th>
            <th scope="col">Delete</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var p in Model.Projects)
            {
                <tr>
                    <td><a href="/home/viewproject?projectId=@p.Id">@p.Title</a></td>
                    <td>@p.Description</td>
                    <td>@p.BudgetRatio</td>
                    <td> <a href="~/home/UpdateProject/@p.Id"><img src="~/images/update.png" width="25" /></a></td>
                    <td> <img src="~/images/AddMedia.png" width="25" onclick="prepareForMediaAdd(@p.Id)" /></td>
                    <td> <img src="~/images/AddRewardPackage.jpg" width="25" onclick="addRewardPackageWithId(@p.Id)" /></td>
                    <td> <a href="~/home/DeleteProject/@p.Id"><img src="~/images/delete.png" width="25" /></a></td>
                </tr>
            }
        }
    </tbody>
</table>
