@model ProjectCreatorModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Project Creator Management</h1>
<hr />
To add a new project creator press <a href="~/home/addprojectcreator">here</a>

<table id="ProjectCreatorTable" border="1" cellpadding="10" cellspacing="0">
    <tr>
        <th>Id</th>
        <th>Description</th>
        <th>FirstName</th>
        <th>LastName</th>
        <th>Email</th>       
    </tr>
    @{ 
        foreach(var projectCreator in Model.ProjectCreators)
        {
        <tr>
            <td>@projectCreator.Id</td>
            <td>@projectCreator.Description</td>
            <td>@projectCreator.FirstName</td>
            <td>@projectCreator.LastName</td>
            <td>@projectCreator.Email</td>


        </tr>
        }
    }
</table>