@model ProjectCreatorOptionModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Update Project Creator with id=@Model.ProjectCreator.Id</h1>

<form>
    <table align="center">
        <tr align="center">
            <td>
                Id
            </td>
            <td> <input type="text" id="Id" value="@Model.ProjectCreator.Id" readonly /></td>
        </tr>
        <tr align="center">
            <td>
                FirstName
            </td>
            <td> <input type="text" id="FirstName" value="@Model.ProjectCreator.FirstName" /></td>
        </tr>
        <tr align="center">
            <td>
                LastName
            </td>
            <td>
                <input type="text" id="LastName" value="@Model.ProjectCreator.LastName" />
            </td>
        </tr>
        <tr align="center">
            <td>
                Email
            </td>
            <td>
                <input type="text" id="Email" value="@Model.ProjectCreator.Email" />

            </td>
        </tr>
        <tr align="center">
            <td>
                Description
            </td>
            <td>
                <input type="text" id="Description" value="@Model.ProjectCreator.Description" />

            </td>
        </tr>
        <tr align="center">
            <td>
                <input type="button" value="Submit data" onclick="updateProjectCreator()" />
            </td>
        </tr>
    </table>
</form>
