@model ProjectViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<script>
    localStorage.setItem('projectId',@Model.Project.Id);
</script>

<section class="jumbotron text-center"style="background-color: #3a2075">
    <div class="container">
        <h1 class="jumbotron-heading"style=" color:yellowgreen">@Model.Project.Title</h1>
        <p class="lead text-muted"style="color: #6c757d">Category:@Model.Project.Category-About:@Model.Project.Description</p>
        <p>
            <a href="/home/ProjectRewardPackage" class="btn btn-primary my-2">Reward Packages</a>
        </p>
        <p>
            <div class="progress" style="height: 20px;">
                <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: @Model.Project.BudgetRatio; color: #3a2075" aria-valuenow=@Model.Project.BudgetRatio aria-valuemin="0" aria-valuemax="100">
                @Model.Project.BudgetRatio % of TargetBudget:@Model.Project.TargetBudget $
                </div>
            </div>
        </p>
    </div>
</section>
<section class="jumbotron-fluid" style="background-color:chocolate">
    <div class="container">
        <h2 class="jumbotron-heading">Status Updates</h2>
        @foreach (var p in Model.StatusUpdateOptions)
        {
        <div class="alert alert-success" role="alert">
            <h4 class="alert-heading">Status Update #@p.Id</h4>
            <p>@p.Payload</p>
            <hr>
            <p class="mb-0">@p.Timestamp</p>
        </div>
        }
    </div>
</section>
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        @{
            foreach (var m in Model.Media)
            {
                <!--dont forget 1 pic must always be StartingPhoto type-->
                <div class="carousel-item  @if( m.Type=="StartingPhoto") {<text>active</text>}">
                    <img class="d-block w-100" src=@m.Payload alt=@m.Id>
                </div>
            }
        }
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
